.google-login{
    border: 1px solid gray;
    height: 600px;
}
.log-in-area{
    margin-top: 250px;
    margin-left: 88px;
    
}
.log-google{
    margin-left: -10px;
}
.log-google2{
    margin-left: 20px;
}